*{
  margin: 0;
  padding: 0;
}

.icc{
  display: flex;
  margin-right: 10%;
  
}
header{
  background-color:#3A5A97;
 display: flex;
 justify-content: space-between;
 width: 100%;
 color: white;
}
.fb{
  color: white;
  height: 30%;
  width: 30%;
}
#sig{
  background-color:#4267B2 ;
  color: white;
  height: 50%;
  margin-top: 5%;
  width: 80px;
  margin-left: 10%;
  
}
.mere{
  display: flex;
  justify-content: space-around;

}
.ic{
  width: 20%;
  height: 20%;
}
body{
  background-color: #ECF0F5;
}
.mob{
  display: flex;
  flex-direction: column;
  
  width: 200px;
}
#fin{
  height: 40px;
  width: 170px;
  border-radius: 10px;
  background-color: #5D9949;
  color: white;
  
}
.tr{
  border-top: solid 0.5px black;
  
}
a{
  text-decoration: none;
}
.ptt{
margin-left: 5%;
}


@media screen and (max-width:530px){

  

  .mere{
    display: block;
    justify-content: space-around;
  
  }

  .icc{
    display: block;
    margin-left: 10px;
    
  }

  header{
    background-color:#3A5A97;
   display: block;
   justify-content: space-between;
   width: 100%;
  }

  #sig{
    background-color:#4267B2 ;
    color: white;
    height: 30%;
    margin-top: 5%;
    width: 40%;
    margin-left: 5%;
    
  }
  .fille2{
    margin-left: 10px;
  }
}

@media screen and (max-width:1300px){


  header{
    background-color:#3A5A97;
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 200px;
  }

  #sig{
    background-color:#4267B2 ;
    color: white;
    height: 30%;
    margin-top: 5%;
    width: 80px;
    margin-left: 10%;
    
  }
  
}